[submodule "libs/threadx"]
	path = libs/threadx
	url = https://github.com/azure-rtos/threadx.git
[submodule "Src/drivers"]
	path = Src/drivers
	url = https://github.com/windwolf/driver_collection.git
